<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24984891146-p14ol29u1p52bn13s9r1jlbcnvec03lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24984891146-p14ol29u1p52bn13s9r1jlbcnvec03lo</string>
	<key>API_KEY</key>
	<string>AIzaSyBIY2QmajVsqe_k4P0_gW5eFMRv8PDjow4</string>
	<key>GCM_SENDER_ID</key>
	<string>24984891146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDonationApp</string>
	<key>PROJECT_ID</key>
	<string>blood-donation-90c81</string>
	<key>STORAGE_BUCKET</key>
	<string>blood-donation-90c81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24984891146:ios:6fa6938497ef42aabcd4f3</string>
</dict>
</plist>